@font-face {
  font-family: 'svgToIcons';
  src: url('svgToIcons.eot'); /* IE9 Compat Modes */
  src: url('svgToIcons.eot?iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('svgToIcons.woff2') format('woff2'), /* Edge 14+, Chrome 36+, Firefox 39+, some mobile */
    url('svgToIcons.woff') format('woff'),  /* IE 9+, Edge, Firefox 3.6+, Chrome 5+, Safari 5.1+ */
    url('svgToIcons.ttf') format('truetype'), /* Safari, Android, iOS */
    url('svgToIcons.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
[class^="aicon-"], [class*=" aicon-"] {
  font-family: 'svgToIcons' !important; /* Use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeSpeed; /* Kerning and ligatures aren't needed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.aicon-angle-right:before {
  content: '\F012'
}
.aicon-bookmark:before {
  content: '\F017'
}
.aicon-check:before {
  content: '\F000'
}
.aicon-chevron-up:before {
  content: '\F001'
}
.aicon-close:before {
  content: '\F01B'
}
.aicon-exit:before {
  content: '\F00E'
}
.aicon-eye:before {
  content: '\F00C'
}
.aicon-info-circle:before {
  content: '\F003'
}
.aicon-menu:before {
  content: '\F00D'
}
.aicon-mobile:before {
  content: '\F00A'
}
.aicon-navigation:before {
  content: '\F005'
}
.aicon-pencil:before {
  content: '\F01A'
}
.aicon-search:before {
  content: '\F018'
}
.aicon-smartphone:before {
  content: '\F007'
}
.aicon-zap:before {
  content: '\F016'
}
.aicon-zplus:before {
  content: '\F019'
}