@import "../../styles/index.scss";

.div_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 6rem;
  @include screen(m) {margin-top: 8rem;}

  .logo {
    margin-bottom: 5.75rem;
    @include screen(m) {margin-bottom: 7.5rem;}
  }
  .loginForm {
    background: $AIDAwhite;
    text-align: center;
    max-width: 494px;
    padding: 2.1rem 2rem 3rem 2rem;
    @include screen(m) {
      padding: 2.4rem 4rem 4rem 4rem;
      width: 494px;
    }

    @include box-shadow($shadow-s);

    .title {
      margin-bottom: 2rem;
      color: $AIDAblack;
    }
    .subtitle {
      color: $AIDAgrey_dark;
      margin-bottom: 5rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 375px;
    }
    .form {
      .passwordContainer{
        position: relative;
      }
      .hidePassword{
        position: absolute;
        right: 2rem;
        top: 2.5rem;
        font-size: 3rem;
        cursor: pointer;

        &_active{
          color: $AIDAblue;
        }
      }
      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
        column-gap: 1rem;
      }
      .link{
        text-align: left;
      }
    }
    .separator {
      height: 1px;
      width: 100%;
      background-color: $special_border;
      margin: 4rem 0 3.28rem 0;
    }
    .info {
      color: $AIDAgrey_darker;
      max-width: 340px;
      margin: auto;
    }
  }
}
