@import "../../../../styles/index.scss";

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 6rem;
  @include screen(m) {
    margin-top: 8rem;
  }

  .formContainer {
    background: $AIDAwhite;
    max-width: 494px;
    min-width: 327px;
    padding: 2.1rem 2rem 3rem 2rem;
    @include screen(m) {
      padding: 2.4rem 4rem 4rem 4rem;
      width: 494px;
    }

    @include box-shadow($shadow-s);

    .title {
      text-align: center;
      margin-bottom: 4rem;
      color: $AIDAblack;
    }
    .subtitle {
      color: $AIDAgrey_dark;
      margin-bottom: 5rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 375px;
    }
    .form {
      .actions {
        margin-top: 4rem;
      }
    }
  }
}
