@import '../../../../styles/index.scss';

.div_container{
  display: flex;
  flex-flow: column;
  row-gap: 3rem;
  @include screen(m) {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  }
}
.content{
    background-color: $AIDAwhite;
    width: 100%;
    padding: 2rem;
    flex-grow: 100;
    align-self: flex-start;

  .linkContainer {
    .link {
      display: flex;
      align-items: center;
      color: $AIDAblue;
      padding-top: 1rem;
      &_icon {
        padding-top: 0.9rem;
        font-size: 3rem;
      }
      &_text {
        margin: 0;
      }
    }
  }
}
