@import "../../styles/index.scss";

.badge {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  min-width: 128px;
  padding: 12px;

  @include screen(xs) {
    min-width: 1rem;
  }

  .icon {
    align-items: center;
    display: none;
    font-size: 3rem;
    height: 2rem;
    justify-content: center;
    margin: 0 1rem 0 0 !important;
    width: 2rem;
    @include screen(xs) {
      display: flex;
      margin: 0 !important;
    }
  }
  .text {
    margin-right: 1rem;
    @include screen(xs) {
      display: none;
    }
  }
}
.done {
  background: $AIDAgreen_light;
  color: $AIDAgreen;
}
.inProgress {
  background: $AIDAred_light;
  color: $AIDAred;
}
.pending {
  background: $AIDAblue_light;
  color: $AIDAblue;
}
.disable {
  background: $AIDAgrey_light;
  color: $AIDAgrey_darker;
}
