// animation
$animationLodingSpeed: 0.4s;
$animationButtonSpeed: 0.4s;

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    background-position: 51% 0%;
  }
}

@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    background-position: 51% 0%;
  }
}


