// Colors
$white: #ffffff;
$zplus: #eb362e;

$black: #000;
$grey: #d9d8d8;
$grey_dark: #bababa;
$grey_darker: #74747b;
$grey_darker_plus: #252525;

$special_border: #303033;
$border: $grey_dark;

$modal_bg: #000000e4;


$startpage_container: $white;
$startpage_container_dark:#121212;

/** Helper to tigth properties to color preferences */
@mixin color-scheme($value: light) {
    @media (prefers-color-scheme: $value) {
      @content; 
    }
  }