// Colors

.separator{
height: 1px;
width: 100%;
background-color: $special_border;
display: block;
margin-bottom: 2rem;
}

.hide{
    display: none;
    visibility: hidden;
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
}